<%inherit file="base.htm" />

<%block name="jumbotron">
</%block>

<%block name="content">

  <div id= "loginform_container" align="center">
    <form id= "loginform" method ="POST" action="/homepage/ajaxtest2.loginform/">
      <table>
        ${ form }
      </table>
      <div><input type="submit"/></div>
    </form>
  </div>

</%block>

<%block name="content_left">
    <p class="text-center">Left Content</p>
</%block>

<%block name="content_center">
  <p class="text-center">Center Content</p>
</%block>

<%block name="content_right">
  <p class="text-center">Right Content</p>
</%block>