<%inherit file="base.htm"/>

<!--nothing to import-->

<%block name="title">
    <title>CHF: Edit Areas</title>
  </%block>

  <%block name="meta">
    <meta name="Edit Areas" description="This allows a manager to edit areas" charset="UTF-8">
  </%block>

<%block name="content">

<h1>Edit Area: ${area.name}</h1>
	<form class= "edit_table" method = "POST" >

		## <table id="edit_form">
		## 	${ form }
		## </table>

		%for field in form:
        <div class="form-group">
            <label for=${field.name}>${field.label} ${field.errors}</label>
            ${ field }
        </div>
    	%endfor
				<hr>
				<button class="btn btn-success" type="submit">Submit</button>
				<a class="btn btn-default" href="/homepage/areas">Cancel</a>
				<a href = "/homepage/areas.delete/${ area.id }/" class="btn btn-danger pull-right">Delete</a>
	</form>
</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>
