<%inherit file="base.htm"/>

<!--nothing to import-->

<%block name="title">
    <title>CHF: Receipt</title>
  </%block>

  <%block name="meta">
    <meta name="Receipt" description="Customers get a receipt upon checkout" charset="UTF-8">
  </%block>

<%block name="content">
		<!--create the table-->
    <div class = "text-left">
      <h1>Thank You!</h1>
    </div>
    <p>Your purchase has been recorded and will be shipping soon!</p>
</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>
