<%inherit file="base.htm"/>

<%block name="title">
    <title>CHF: Checkout Shipping</title>
  </%block>

<!--nothing to import-->

<%block name="content">

<h2>Shipping Information:  ${request.user.get_full_name()}</h2>
	<form class= "edit_table" method = "POST" >

		%for field in form:
        <div class="form-group">
            <label for = ${field.name} > ${field.label} ${field.errors}</label>
            ${ field }
        </div>
    	%endfor
				<hr>
<button id="submit_button" class="btn btn-primary" type="submit">Continue</button>	
	</form>
</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>
