<%inherit file="base.htm"/>

<!--nothing to import-->

<%block name="title">
    <title>CHF: Checkout</title>
  </%block>

<%block name="content">
	<h2>Enter Checkout Information</h2>
			<form>
				Credit Card Number<br>
				<input type="text" name="Credit Card">
				<br> 
				Street Address<br>
				<input type="text" name="Address">
				<br>
				City<br>
				<input type="text" name="City">
				<br>
				State<br>
				<input type="text" name="State">
				<br>
				Zip<br>
				<input type="text" name="Zip">
				<br>
			</form><br>
			<a class="btn btn-success" href="/homepage/checkout.receipt">Complete Purchase</a>
			<a class="btn btn-default" href="/homepage/productlist">Cancel</a>
</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>
