<%inherit file="base.htm"/>

<!--nothing to import-->

<%block name="content">
	<div id="festivalcontainer">
		<h2>Area </h2>
		<div class = "container-fluid">
        	<div class="row">
        		<div class="col-xs-12 bg-default">
					<img width= "100%" src="${STATIC_URL}homepage/media/autumn-in-park.jpg"/>
					<h3>Description</h3>
				</div>
			</div>
			<div class="row">
        		<div class="col-xs-12 bg-default">
				
        	<h2>Products</h2>
			%for product in products:
				<div id="festivalproduct" class="item_container col-xs-2">
						<a href="/homepage/productlist.viewproduct/${ product.id }/">
							<div id="product" class="">${ product.name }</div>
							<img width = "100%" src="${STATIC_URL}homepage/media/${ product.photo }"/>
								<div id="current_price" class="">$${ product.current_price }</div>
					</a>
				</div>
			%endfor
		</div>
	</div>
</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
	
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>
