<%inherit file="basefestival.htm"/>

<!--nothing to import-->

<%block name="title">
    <title>CHF: Festivals</title>
  </%block>

  <%block name="meta">
    <meta name="Festivals" description="The different festivals one can attend" charset="UTF-8">
  </%block>

<%block name="content">
	<div id="festivalcontainer">
		<h1>Festival: ${ events.name } </h1>
		<div class = "container-fluid">
        	<div class="row">
        		<div class="col-xs-4 bg-default">
					
					<h3>Areas</h3>

					<table id="manage_table" class = "table table-striped table-bordered">

					    <tr>
					      <th>Area Name</th>
					      <th>Description</th>
			          	  <th>Place Number</th>
					      <th>Photo</th>
					      <th>Actions</th>
					    </tr>
							%for area in areas:
								<tr>
			            			<td> ${ area.name } </td>
			            			<td> ${ area.description } </td>
			            			<td> ${ area.place_number } </td>
			            			<td> <img width= "100%" src="${STATIC_URL}homepage/media/${ area.photo }"/> </td>
			  						<td width="1%" nowrap>
										<a class="label label-info" href="/homepage/festivals.area/${ area.id }">View</a>
									</td>
								</tr>
							%endfor 
					</table>

		
				</div>
				<div class="col-xs-8 bg-default">
					<img width= "100%" src="${STATIC_URL}homepage/media/${ events.photo }"/>
					<h3>Description</h3>
					<p> ${ events.description } </p>
				</div>
			</div>
		</div>
	</div>
</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
	
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>
