<%inherit file="base.htm"/>

<!--nothing to import-->

<%block name="title">
    <title>CHF: Festival Areas</title>
  </%block>

<%block name="content">
	<div id="festivalcontainer">
		<h2>Area </h2>
		<div class = "container-fluid">
        	<div class="row">
        		<div class="col-xs-12 bg-default">
					<img width= "100%" src="${STATIC_URL}homepage/media/$ {area.photo}"/>
					<h3>Description</h3>
				</div>
			</div>
			<div class="row">
        		<div class="col-xs-12 bg-default">
				
        	<h2>Sale Items</h2>
			%for si in saleitem:
				<div id="festivalproduct" class="item_container col-xs-2">
						<a href="/homepage/festivals.item/${ si.id }/">
							<div id="product" class="">${ si.name }</div>
							<img width = "100%" src="${STATIC_URL}homepage/media/${ si.photo }"/>
								<div id="current_price" class="">$${ si.high_price }</div>
					</a>
				</div>
			%endfor
		</div>
	</div>
</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
	
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>
