<%inherit file="base.htm" />

<%block name="jumbotron">
</%block>

<div padding-bottom: 25px;>
<%block name="content">
    
            <div class="jumbotron">
              
              <div class="image">
                <img src="/static/homepage/media/autumn-in-park.jpg">
              </div>
              <p class="quote">Quote of the day <br> <q>Three millions of people, armed in the holy cause of liberty, and in such a country as that which we possess, are invincible by any force which our enemy can send against us. Beside, sir, we shall not fight our battles alone.<br> There is a just God who presides over the destinies of Nations, and who will raise up friends to fight our battles for us.</q><br> -- Patrick Henry</p>
              <h1>Welcome to the Colonial Heritage Foundation!</h1>
              <br>
                
              <div class="row">
                <div class="col-md-4">
                <h2>Learn</h2>
                  <p>Colonial History <br> Fun Facts <br>
                    Enthralling Culture <br>
                  and Your Heritage <br>
                  </p>
                </div>
                <div class="col-md-4">
                <h2>Discover</h2>
                  <p>Discover a world of adventure. <br>
                Log in or become 
                a member <br> for full 
                access to the site, <br>
                including ordering and  renting <br> real colonial artifacts!<br></p>
                </div>
                <div class="col-md-4">
                  <h2>Explore</h2>
                  <p>Events <br> Areas <br>
                  Products <br>
                  ..and more! <br></p>
                </div>
                </div>
                </div>
              </div>
        </div>

            <!--<h1>Content</h1>
            <p>
              This is the text that will fill up the homepage. We will be writing this later. This text will be different on every page because I am using the block element which will take the content on the other pages, and replace it on this base page. I am writing to fill up space.<br><br>
              
              Now I am writing another paragraph to make the length of the column bigger. I am still trying to find out how to make it change the height dynamically.<br><br> 
            </p>
           
            <span class="label label-warning">Do you accept the terms? (label)<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></span>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-primary">Primary</button>-->
        </div>
      </div><!-- row -->
    </div><!-- container -->
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>