<%inherit file="base.htm"/>

<!--nothing to import-->

<%block name="title">
    <title>CHF: Links</title>
  </%block>

  <%block name="meta">
    <meta name="Links" description="Links to other websites" charset="UTF-8">
  </%block>

<%block name="content">

  <div class = "text-left">
    <h1>Check out these other websites!</h1>
  </div>
  <div>
  	<ul id="link">
  		<li><a href ="http://www.americaslibrary.gov/">Americas Library</a></li>
  		<li><a href ="http://www.history.com/">History</a></li>
  		<li><a href ="www.landofthebrave.info/"> Land of the Brave</a></li>
  		<li><a href ="http://www.uncp.edu/">UNCP</a></li>
  		<li><a href ="http://www.ducksters.com/history/colonial_america/">Ducksters</a></li>
  	</ul>
</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>
