<%inherit file="base_ajax.htm" />

<%block name="content">

<%block name="title">
    <title>CHF: Login</title>
  </%block>

  <div id= "loginform_container" align="center">
    <form id= "loginform" method ="POST" action="/homepage/login.loginform/">
      <table>
        ${ form }
      </table>
      <div id="submit_button_container" align="center">
        <button id="submit_button" class="btn btn-warning" type="submit">Login</button>
        <a href="/homepage/views.password_reset_form">Forgot Password?</a>
      </div>
    </form>
  </div>

</%block>
