<%inherit file="base_ajax.htm" />

<%block name="content">

<%block name="title">
    <title>CHF: Login</title>
  </%block>

  <%block name="meta">
    <meta name="Login" description="Users can log in here" charset="UTF-8">
  </%block>

  <div id= "loginform_container" align="center">
    <form id= "loginform" method ="POST" action="/homepage/login.loginform/">
      <table>
        ${ form }
      </table>
      <div id="submit_button_container" align="center">
        <button id="submit_button" class="btn btn-warning" type="submit">Login</button>
        <a href="/password_reset/">Forgot Password?</a>
      </div>
    </form>
  </div>

</%block>
