<%inherit file="base.htm" />

<%block name="jumbotron">
</%block>

<%block name="title">
    <title>CHF: Login</title>
  </%block>

  <%block name="meta">
    <meta name="Login" description="User needs to log in to continue" charset="UTF-8">
  </%block>

<%block name="content">
  <div class = "text-left">
    <h1>Hold Up!</h1>
  </div>
    <h4>You need to login to continue.</h4>
    <p>Click "My Account" in the top right corner to login or sign up!</p>
    <div align="center">
    </div>
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>