<%inherit file="base.htm"/>

<!--nothing to import-->

<%block name="title">
    <title>CHF: Log Out</title>
  </%block>

  <%block name="meta">
    <meta name="Logout" description="Users redirected here on logout" charset="UTF-8">
  </%block>

<%block name="content">

  <div class = "text-left">
    <h1>Logout</h1>
  </div>
  <p>You were successfully logged out.</p>

</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>
