<%inherit file="base.htm"/>

<!--nothing to import-->

<%block name="title">
    <title>CHF: Overdue Rentals</title>
  </%block>

<%block name="content">
<h2>Rented Items Overdue</h2>
	<div class = "text-right">
      <a href ="/homepage/overdue/" class= "btn btn-success">Overdue Emails</a>
  	</div>
		<table id="manage_table" class = "table table-striped table-bordered">
		    <tr>
		      <th>ID</th>
		      <th>Condition</th>
		      <th>Due Date</th>
		      <th>Late Fee</th>
		    </tr>
				%for overdue in overdues:
					<tr>
			            <td> ${ overdue[0] }</td>
			            <td> ${ overdue[1] }</td>
			            <td> ${ overdue[4] }</td>
			            <td> $${ overdue[3] }</td>
					</tr>
				%endfor
		</table>


</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>