<%inherit file="base.htm"/>

<!--nothing to import-->

<%block name="title">
    <title>CHF: Receipt</title>
  </%block>

    <%block name="meta">
    <meta name="Shopping Cart" description="Shopping Cart" charset="UTF-8">
  </%block>


<%block name="content">
		<!--create the table-->
    <div class = "text-left">
      <h2>Thank You!</h2>
    </div>
    <p>You have been sent an email with instructions to change your password</p>
</%block>

<%block name="jumbotron">
</%block>

<%block name="content_left">
</%block>

<%block name="content_center">
</%block>

<%block name="content_right">
</%block>
